################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/PlayHologramFiles/bin/Debug
/PlayHologramFiles/obj
/.vs
